.titulo {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 13px;
    color: #49c858;
}

.containerMain {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.1), 0 0 10px 0 rgba(0,0,0,.14);
}

.container {
    /*position: absolute;*/
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:25px ;
    margin-right: 25px;
}
.img{    
    width: 40px;
    height: 40px;
}
